*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    color: green;
    font-size: 3em;
    font-family: monospace;
}
h1{
    color: green;
    font-size: 5rem;
    font-family: monospace;
    font-weight: 500;
    padding-bottom: 2rem;
}
h2{
    font-size: 5rem;
  font-weight: 500;
  font-family: monospace;

  background: linear-gradient(90deg, #f014cf, #1d23cd, #d90905);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;

}